@import "tailwindcss";

@theme {
  /* Catppuccin Latte */
  --color-cat-rosewater: #dc8a78;
  --color-cat-flamingo: #dd7878;
  --color-cat-pink: #ea76cb;
  --color-cat-mauve: #8839ef;
  --color-cat-red: #d20f39;
  --color-cat-maroon: #e64553;
  --color-cat-peach: #fe640b;
  --color-cat-yellow: #df8e1d;
  --color-cat-green: #40a02b;
  --color-cat-teal: #179287;
  --color-cat-sky: #04a5e5;
  --color-cat-sapphire: #209fb5;
  --color-cat-blue: #1e66f5;
  --color-cat-lavender: #7287fd;
  --color-cat-text: #4c4f69;
  --color-cat-subtext1: #5c5f77;
  --color-cat-subtext0: #6c6f85;
  --color-cat-overlay2: #7c7f93;
  --color-cat-overlay1: #8c8fa1;
  --color-cat-overlay0: #9ca0b0;
  --color-cat-surface2: #acb0be;
  --color-cat-surface1: #bcc0cc;
  --color-cat-surface0: #ccd0da;
  --color-cat-base: #eff1f5;
  --color-cat-mantle: #e6e9ef;
  --color-cat-crust: #dce0e8;

  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  body {
    @apply bg-cat-base text-cat-text font-sans;
  }
}
